<div class="row">
  <div class='col-md-8'>
    <div class="card">
      <div class="card-header text-secondary">
         待裁剪Logo
      </div>
      <div class="card-body">
        <%= image_tag @trademark.name_url(:large), id: "cropbox" %>
        <br>
        <%= form_for(@trademark, url: trademark_path(@trademark), method: :put) do |f| %>
          <% %w[x y w h].each do |attribute| %>
            <%= f.hidden_field "crop_#{attribute}", id: "trademark_crop_#{attribute}" %>
          <% end %>
          <%= f.submit "提交裁剪", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class="card">
      <div class="card-header text-center">
        Logo预览
      </div>
      <div class="card-body">
        <div style="width:100px; height:100px; overflow:hidden; margin:auto">
          <%= image_tag @trademark.name.url(:large), id: "preview" %>
        </div>
      </div>
    </div>
  </div>
</div>
