<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header text-center">
        <%= @trademark.new_record? ? "Logo新建" : "Logo修改" %>
      </div>
      <div class="card-body">
        <%= form_for(@trademark, url: trademarks_path, method: :post) do |f| %>
          <% unless @trademark.errors.blank? %>
            <div class="alert alert-danger">
              <ul class="list-unstyled">
                <% @trademark.errors.messages.values.flatten.each do |error| %>
                  <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
                <% end -%>
              </ul>
            </div>
          <% end -%>
          <%= hidden_field_tag "trademark[not_nil]", true %>
          <div class="form-group">
            <%= f.file_field :name %>
          </div>
          <div class="form-group row">
            <div class="ml-3">
              <%= f.submit "#{@trademark.new_record? ? '新建' : '修改'}", class: "btn btn-primary" %>
            </div>
            <% if @trademark.name.size != 0 %>
              <div class="ml-2">
                <%= link_to "#{@trademark.reveal? ? '隐藏Logo' : '显示Logo'}", reveal_trademark_path(@trademark), class: "btn btn-primary" %>
              </div>
            <% end -%>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class="card">
      <div class="card-header text-center">
        Logo预览
      </div>
      <div class="card-body text-center">
        <% if @trademark.name.size != 0 %>
          <%= image_tag @trademark.name.url(:large), size: "100x50" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
