<div class="card mb-3">
   <div class="card-header text-secondary text-center"><%= @device.name %></div>
   <div class="card-body">
     <div class="text-secondary">
       <i class="fa fa-tag fa-lg"></i> <%= @device.category.name %><br>
       <i class="fa fa-map-marker fa-lg"></i> <%= @device.location %><br>
       <% if @device.status? %>
         <i class="fa fa-check fa-lg"></i> 正常状态<br>
       <% else %>
         <i class="fa fa-exclamation fa-lg"></i> 设备维护中
       <% end -%>
       <div>
         <i class="fa fa-comments fa-lg"></i> <%= @device.details %>
       </div>
     </div>
     <div class="wrapper">
       <div class="box_wrapper">
         <% @device_attaches.each do |attach| %>
           <div class="content_item">
             <%= image_tag attach.name_url, class: "d-block w-100" %>
           </div>
         <% end -%> 
       </div>
     </div>  
   </div>
</div>
