<div class="card mb-3">
   <div class="card-header text-secondary text-center"><%= @device.name %></div>
   <div class="card-body">
        <div class="text-secondary">
          设备名称: <%= @device.name %><br>
          设备详情: <%= @device.details %><br>
          设备位置：<%= @device.location %><br>
          设备状态：<%= @device.status? ? "正常状态" : "设备维护中" %>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @device.device_attaches.each_with_index do |attach, index| %>
              <li data-target="#carouselExampleControls" data-slide-to="<%= index%>" class="<%= @device.device_attaches.first == attach ? 'active' : '' %>"></li>
            <% end -%>
          </ol>
          <div class="carousel-inner">
            <% @device.device_attaches.each do |attach| %>
              <div class="carousel-item <%= @device.device_attaches.first == attach ? 'active' : '' %>">
                <%= image_tag attach.name_url, class: "d-block w-100 rounded" %>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
