<%= render 'shared/nav' %>
<div class="row">
  <div class="col-md-3"><%= render 'shared/left_bar' %></div>
  <div class="col-md-9">
    <% @device_attaches.each_with_index do |device_attach, index| %>
      <div class="d-flex justify-content-between">
        <div>
          照片<%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>
        </div>
        <div>
          <%= link_to "查看", device_device_attach_path(@device, device_attach), class: "badge badge-primary" %>
          <%= link_to '删除', delete_device_device_attach_path(@device, device_attach), remote: true, class: "badge badge-primary" %>
        </div>
      </div>
    <% end %>
    <div class="d-flex flex-row mt-2">
      <div class="mr-2"><%= link_to "返回", devices_path, class: "btn btn-primary" %></div>
      <div class="mr-2"><%= link_to "新建", new_device_device_attach_path(@device, @device_attach), class: "btn btn-primary" %></div>
      <div><%= link_to "删除全部照片", delete_all_device_device_attaches_path(@device), class: "btn btn-primary" %></div>
    </div>
  </div>
</div>
<%= render 'shared/confirm_modal' %>
