<div class="card">
  <div class="card-body d-flex flex-column">
       <div class="mt-2">
        <a href="<%= order_options_path %>">
          <button type="button" class="btn <%= (action_name == 'order') ? 'btn-primary' : 'btn-outline-secondary' %> btn-block show-order">导航栏排序</button>
        </a>
      </div>
      <div class="mt-2">
        <a href="<%= modify_options_path %>">
          <button type="button" class="btn <%= (action_name == 'modify') ? 'btn-primary' : 'btn-outline-secondary' %> btn-block">导航栏修改</button>
        </a>
      </div>
      <% if current_user.option == "official" %>
        <div class="mt-2">
          <a href="<%= navbar_options_path %>">
            <button type="button" class="btn <%= (action_name == 'navbar') ? 'btn-primary' : 'btn-outline-secondary' %> btn-block">导航栏位置</button>
          </a>
        </div>
      <% end -%>
  </div>
</div>
