<%= render 'shared/nav' %>
<div class="row">
  <div class="col-md-3"><%= render 'navbar_left_bar' %></div>
  <div class="card col-md-9">
    <div class="card-body">
      <%= form_for(:options, url: set_navbar_options_path(current_user), method: :put ) do |f| %>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="option[navbar]"  value=""  <%= current_user.navbar == "" ? "checked" : ""%>>
            <label class="form-check-label text-secondary">
              放置在页首
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="option[navbar]"  value="middle" <%= current_user.navbar == "middle" ? "checked" : ""%>>
            <label class="form-check-label text-secondary">
              放置在轮播图上面
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="option[navbar]"  value="bottom" <%= current_user.navbar == "bottom" ? "checked" : ""%>>
            <label class="form-check-label text-secondary">
              放置在轮播图下面
            </label>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "更新导航条位置", class: "btn btn-primary"%>
        </div>
      <% end -%> 
    </div>
  </div>
</div>
