<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <% if (@user && @user.has_role?(:root_admin)) %>
    <ol class="carousel-indicators">
      <% @carousels.each_with_index do |carousel, index| %>
        <li data-target="#carouselExampleControls" data-slide-to="<%= index%>" class="<%= @carousels.first == carousel ? 'active' : '' %>"></li>
      <% end -%>
    </ol>
  <% end -%>
  <div class="carousel-inner">
    <% @carousels.each do |carousel| %>
      <div class="carousel-item <%= @carousels.first == carousel ? 'active' : '' %>">
        <%= image_tag carousel.attach_url, class: "d-block w-100 rounded" %>
        <div class="carousel-caption d-none d-md-block">
          <h5><%= carousel.name if carousel.is_name? %></h5>
          <p><%= carousel.introduction if carousel.is_introduction? %></p>
        </div>
      </div>
    <% end -%>
  </div>
  <% unless (@user && @user.has_role?(:root_admin)) %>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  <% end -%>
</div>
