<ul class="nav justify-content-center mb-3">
  <li class="nav-item">
    <%= link_to "显示设置", options_path, class: "nav-link #{ ( (controller_name =='options') && (action_name == 'index')) ? 'actived' : 'disabled' }" %>
  </li>
  <li class="nav-item">
    <%= link_to "内容设置", basics_path, class: "nav-link #{ ((controller_name != 'options') && (controller_name !='set_advertises') && (controller_name !='logos') && (controller_name !='set_dimensions') ) ? 'actived' : 'disabled' }" %>
  </li> 
  <% if current_user.option != "dimension"%>
    <li class="nav-item">
      <%= link_to "导航栏设置", order_options_path, class: "nav-link #{ ((action_name == 'order') || (action_name == 'modify') || (action_name == 'navbar')) ? 'actived' : 'disabled' }" %>
    </li>
  <% end -%>
  <% if current_user.option == "official" %>
    <li class="nav-item">
      <%= link_to "样式设置", style_options_path, class: "nav-link #{ ((action_name == 'style') || (action_name == 'map')) ? 'actived' : 'disabled' }" %>
    </li>
  <% elsif current_user.option == "advertise" %>
    <li class="nav-item">
      <%= link_to "样式设置", contact_set_advertises_path, class: "nav-link #{ (controller_name == 'set_advertises') ? 'actived' : 'disabled' }" %>
    </li>
  <% else current_user.option == "dimension" %>
    <li class="nav-item">
      <%= link_to "样式设置", new_logo_path, class: "nav-link #{ ((controller_name == 'logos') || (controller_name == 'set_dimensions')) ? 'actived' : 'disabled' }" %>
    </li>
  <% end -%>
</ul>
