<%= render 'shared/nav' %>
<div class="row">
  <div class="col-md-3"><%= render 'shared/left_bar' %></div>
  <div class="col-md-9">
    <div class="card mb-3">
      <div class="card-header text-secondary text-center"><%= @introduction.title %></div>
      <div class="card-body">
        <div class="text-secondary text-center">
          <p><small>
            <i class="fa fa-user fa-fw"></i><%= @introduction.user.email.split("@").first %>
            · 发表于<%= time_ago_in_words(@introduction.created_at) %>前
          </small></p>
        </div>
        <div class="text-secondary" id="picture"><%= markdown @introduction.content %></div>
      </div>
    </div>
    <div><%= link_to "返回列表", introductions_path, class: "btn btn-primary" %></div>
  </div>
</div>
<%= render 'shared/simplemde_style' %>
