<div class="mb-2">
  <%= render 'shared/show_middle' %>
</div>
<div class="row">
  <% if @basic_contact == "left" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
  <div class="<%= @basic_contact == '' ? 'col-md-12' : 'col-md-9' %>">
    <% @releases.each_with_index do |release, index| %>
      <div class="d-flex justify-content-between text-secondary">
        <div>
          <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
          <%= link_to release.title, press_path(release), class: "text-secondary" %>
        </div>
        <div class="small text-secondary">
          <%= release.updated_at.strftime("%F") %>
        </div>
      </div>
    <% end %>
    <div class="mt-2">
      <div><%= paginate @releases %></div>
    </div>  
  </div>
  <% if @basic_contact == "right" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
</div>
