<div class="mb-2">
  <%= render 'shared/official_middle' %>
</div>
<div class="row">
  <% if @show_user.style == "left" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
  <div class="<%= @show_user.style == '' ? 'col-md-12' : 'col-md-9' %>">
    <% if @map %>
      <%= render 'shared/official_right_map' %>
    <% end -%>
  </div>
  <% if @show_user.style == "right" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
</div>
