<div class="mb-2">
  <%= render 'shared/show_middle' %>
</div>
<div class="row">
  <% if @basic_contact == "left" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
  <div class="<%= @basic_contact == '' ? 'col-md-12' : 'col-md-9' %>">
    <% @recruits.each_with_index do |recruit, index| %>
      <div class="d-flex justify-content-between">
        <div>
          <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
          <%= recruit.updated_at.strftime("%F") %> | 
          <%= recruit.title %>
        </div>
        <div>
          <%= link_to '查看', invite_path(recruit), class: "badge badge-primary" %>
        </div>
      </div>
    <% end %>
    <div class="d-flex justify-content-center">
      <div><%= paginate @recruits %></div>
    </div>  
  </div>
  <% if @basic_contact == "right" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
</div>
