<div class="mb-2">
  <%= render 'shared/show_middle' %>
</div>
<div class="row">
  <% if @basic_contact == "left" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
  <div class="<%= @basic_contact == '' ? 'col-md-12' : 'col-md-9' %>">
    <% @services.each_with_index do |service, index| %>
      <div class="d-flex justify-content-between">
        <div class="text-secondary">
          <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
          <%= link_to service.name, serve_path(service), class: "text-secondary" %>
        </div>
        <div class="small text-secondary">
          <%= service.updated_at.strftime("%F") %>
        </div>
      </div>
    <% end %>
    <div class="d-flex mt-2">
      <div><%= paginate @services %></div>
    </div> 
  </div>
  <% if @basic_contact == "right" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
</div>
