<% provide(:title, @show_user.basic.name) %>
<div class="mb-2">
  <%= render 'shared/show_middle' %>
</div>
<div class="row">
  <% if @basic_contact == "left" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
  <div class="<%= @basic_contact == '' ? 'col-md-12' : 'col-md-9' %>">
    <% if ((@basic_map == "right") && @map) %>
      <%= render 'shared/big_map' %>
    <% end -%>
  </div>
  <% if @basic_contact == "right" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
</div>
