<div class="mb-2">
  <%= render 'shared/show_middle' %>
</div>
<div class="row">
  <% if @basic_contact == "left" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
  <div class="<%= @basic_contact == '' ? 'col-md-12' : 'col-md-9' %>">
    <div class="card mb-2">
      <div class="card-body">
        <div id="picture">
          <%= markdown @introduction.content if @introduction %>
        </div>
      </div>
    </div>
    <% if ((@basic_map_position == "right") && @map) %>
      <%= render 'shared/big_map' %>
    <% end -%>
  </div>
  <% if @basic_contact == "right" %>
    <div class="col-md-3"><%= render 'shared/contact' %></div>
  <% end -%>
</div>
<%= render 'shared/simplemde_style' %>
