<%= render 'shared/nav' %>
<div class="row">
  <div class="col-md-3"><%= render 'shared/navbar_left_bar' %></div>
  <div class="card col-md-9">
    <div class="card-body">
      <%= form_for(@navbar, url: set_position_navbars_path(@navbar), method: :put ) do |f| %>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="navbar[position]"  value=""  <%= @navbar.position == "" ? "checked" : ""%>>
            <label class="form-check-label text-secondary">
              放置在页首
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="navbar[position]"  value="middle" <%= @navbar.position == "middle" ? "checked" : ""%>>
            <label class="form-check-label text-secondary">
              放置在轮播图上面
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="navbar[position]"  value="bottom" <%= @navbar.position == "bottom" ? "checked" : ""%>>
            <label class="form-check-label text-secondary">
              放置在轮播图下面
            </label>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "更新", class: "btn btn-primary"%>
        </div>
      <% end -%> 
    </div>
  </div>
</div>
