<%= render 'shared/nav' %>
<div class="row">
  <div class="col-md-3"><%= render 'style_left_bar' %></div>
  <div class="card col-md-9">
    <div class="card-body">
      <%= form_for(@set_advertise, url: set_map_height_set_advertises_path(@set_advertise), method: :put ) do |f| %>
        <div class="form-group">
          <%= f.number_field :map_height, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "更新地图高度", class: "btn btn-primary"%>
        </div>
      <% end -%> 
    </div>
  </div>
</div>
