<%= render 'shared/nav' %>
<div class="row">
  <div class="col-md-3"><%= render 'shared/left_bar' %></div>
  <div class="col-md-9">
    <div>
      <%= render 'devices' %>
    </div>
    <div class="d-flex mt-2">
      <div><%= paginate @devices %></div>
    </div>
  </div>
</div>
<%= render 'shared/confirm_modal' %>
