<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags %>
    <%= favicon_link_tag 'diary.ico' %>
    <%= stylesheet_link_tag    'dimension', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dimension', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container"><%= yield %></div>
  </body>
</html>
